<!DOCTYPE html>
<html>
<head>
  <title>HitList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'angular-resource' %>
  <%= javascript_include_tag 'angular-route' %>
    <%= javascript_include_tag 'angular-devise' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app='HitListRoute'>

	 <div class="container" ng-controller="loginFuncCtrl">
    	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav nav-pills pull-left">
         <% if user_signed_in? %>
              <li data-no-turbolink><a href="/dashboard/stars"><h4>HitList</h4><p>Version 1.0</p></a></li>
          <% else %>
              <li data-no-turbolink><a href="/"><h4>HitList</h4><p>Version 1.0</p></a></li>
          <% end %>
        </ul>

        <ul class="nav nav-pills pull-right">
          <% if user_signed_in? %>
              <li class="show-stars active"><a href="/dashboard/stars">Stars</a></li>
              <li class="show-friends"><a href="/dashboard/friends">Friends</a></li>
              <li><a href="#" ng-click="logout()">Log out</a></li>
          <% else %>
              <li><%= link_to('Sign up', new_user_registration_path)  %></li>
              <li><%= link_to('Log in', new_user_session_path)  %></li>
          <% end %>
        </ul>
      </nav>
    </div>

	<div class="main-content container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div ng-view></div>
	</div>

</body>
</html>